---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/6591615363034c218a7924.09149075
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<LOKALISE_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 18bac229-2d11-479c-9926-65caad1bf2af
      X-Debug-Token:
      - 0bfc43
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"6591615363034c218a7924.09149075","project_type":"localization_files","name":"First
        project","description":"","created_at":"2022-08-22 09:28:01 (Etc\/UTC)","created_at_timestamp":1661160481,"created_by":207903,"created_by_email":"idragun1991@gmail.com","team_id":331101,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":false,"segmentation":false,"custom_translation_statuses":false,"custom_translation_statuses_allow_multiple":false},"statistics":{"progress_total":100,"keys_total":3,"team":1,"base_words":20,"qa_issues_total":6,"qa_issues":{"not_reviewed":6,"unverified":0,"spelling_grammar":0,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0,"unbalanced_brackets":0},"languages":[{"language_id":640,"language_iso":"en","progress":100,"words_to_do":0},{"language_id":600,"language_iso":"ru_RU","progress":100,"words_to_do":0}]}}'
  recorded_at: Mon, 22 Aug 2022 09:30:57 GMT
recorded_with: VCR 6.1.0
